<launch>
  <!--- Run Robotics_project1 nodes -->
  
  <rosparam file="$(find Robotics_project1)/parameters/initial_pose.yaml" command="load" />


  <node pkg="Robotics_project1" type="vel" name="vel" output="screen"   />

  <node pkg="Robotics_project1" type="inversevel" name="inversevel" output="screen"   />
  
  <node pkg="Robotics_project1" type="odom" name="odom"  output="screen"    />

  <node pkg="Robotics_project1" type="reset_client" name="reset_client"  output="screen"    />

  <node pkg="tf2_ros" type="static_transform_publisher" name="world_to_map" args="0 0 0 0 0 0 1 world map "   />
  
  <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 1 map odom "   />

  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find Robotics_project1)/rviz/Robotics_project1.rviz" />
  
</launch>